ProyectosWeb/Web References/SICTWS/test.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getUsuarioLogeado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idSistema" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUsuarioLogeadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUsuarioLogeadoResult" type="tns:UsuarioLogin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UsuarioLogin">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idCatalogoProveedores" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="esEmpleado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contraseña" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="persona" type="tns:PersonaLogin" />
          <s:element minOccurs="1" maxOccurs="1" name="tiempoExpiracion" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="linkCliked" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Perfiles" type="tns:ArrayOfPerfilLogin" />
          <s:element minOccurs="0" maxOccurs="1" name="Grupos" type="tns:ArrayOfGrupoLogin" />
          <s:element minOccurs="0" maxOccurs="1" name="sistemasModulos" type="tns:SistemasModulos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonaLogin">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idPersona" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaRegistro" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="tecnologias" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPerfilLogin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PerfilLogin" nillable="true" type="tns:PerfilLogin" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PerfilLogin">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idPerfil" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idGrupo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idCatalogoPerfil" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="usuarioAlta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="usuarioBaja" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="usuarioModifica" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGrupoLogin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GrupoLogin" nillable="true" type="tns:GrupoLogin" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GrupoLogin">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idGrupo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SistemasModulos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idSistemaModulo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idModulo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idSistema" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="h3visible" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="divvisible" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="modulo" type="tns:Modulo" />
          <s:element minOccurs="0" maxOccurs="1" name="sistemasModulos" type="tns:ArrayOfSistemasModulos" />
          <s:element minOccurs="0" maxOccurs="1" name="perfilesModulos" type="tns:ArrayOfPerfilesModulos" />
          <s:element minOccurs="0" maxOccurs="1" name="perfilesPantallas" type="tns:ArrayOfPerfilesPantallas" />
          <s:element minOccurs="0" maxOccurs="1" name="perfilesOpciones" type="tns:ArrayOfPerfilesOpciones" />
          <s:element minOccurs="0" maxOccurs="1" name="usuariosModulos" type="tns:ArrayOfUsuariosModulos" />
          <s:element minOccurs="0" maxOccurs="1" name="usuariosPantallas" type="tns:ArrayOfUsuariosPantallas" />
          <s:element minOccurs="0" maxOccurs="1" name="usuariosOpciones" type="tns:ArrayOfUsuariosOpciones" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Modulo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idModulo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="h3Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="divId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSistemasModulos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SistemasModulos" nillable="true" type="tns:SistemasModulos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPerfilesModulos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PerfilesModulos" nillable="true" type="tns:PerfilesModulos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PerfilesModulos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idPerfilModulo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idModulo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idPerfil" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="h3Visible" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="divVisible" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="modulo" type="tns:Modulo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPerfilesPantallas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PerfilesPantallas" nillable="true" type="tns:PerfilesPantallas" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PerfilesPantallas">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idPerfilPantalla" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idPantalla" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idPerfil" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="visible" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="componenteIndex" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pantalla" type="tns:Pantalla" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Pantalla">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idPantalla" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idModulo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idAsp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pantallaIndex" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPerfilesOpciones">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PerfilesOpciones" nillable="true" type="tns:PerfilesOpciones" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PerfilesOpciones">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idPerfilOpcion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idPerfil" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idOpcion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="visible" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="opcion" type="tns:Opcion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Opcion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idOpcion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idPantalla" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idAsp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="componenteIndex" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="chkboxTreeindex" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="idcheckbox" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="pantalla" type="tns:Pantalla" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUsuariosModulos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UsuariosModulos" nillable="true" type="tns:UsuariosModulos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UsuariosModulos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idUsuarioModulo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idModulo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="h3Visible" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="divVisible" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="modulo" type="tns:Modulo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUsuariosPantallas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UsuariosPantallas" nillable="true" type="tns:UsuariosPantallas" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UsuariosPantallas">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idUsuarioPantalla" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idPantalla" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="visible" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="componenteIndex" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pantalla" type="tns:Pantalla" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUsuariosOpciones">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UsuariosOpciones" nillable="true" type="tns:UsuariosOpciones" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UsuariosOpciones">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idUsuarioOpcion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idOpcion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="visible" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="opcion" type="tns:Opcion" />
        </s:sequence>
      </s:complexType>
      <s:element name="getSistemasModulosRelaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idSistema" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="perfiles" type="tns:ArrayOfPerfilLogin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSistemasModulosRelacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSistemasModulosRelacionesResult" type="tns:SistemasModulos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getModuloTarea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tarea" type="tns:ModuloTarea" />
            <s:element minOccurs="0" maxOccurs="1" name="opcionTarea" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idSistema" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ModuloTarea">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaInicio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaFinEstimada" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaFinReal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiferenciaFechaFin" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="horaEstimada" type="tns:TimeSpan" />
          <s:element minOccurs="1" maxOccurs="1" name="horaReal" type="tns:TimeSpan" />
          <s:element minOccurs="1" maxOccurs="1" name="DiferenciaHoraFin" type="tns:TimeSpan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TimeSpan" />
      <s:element name="getModuloTareaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getModuloTareaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getUsuarioLogeadoSoapIn">
    <wsdl:part name="parameters" element="tns:getUsuarioLogeado" />
  </wsdl:message>
  <wsdl:message name="getUsuarioLogeadoSoapOut">
    <wsdl:part name="parameters" element="tns:getUsuarioLogeadoResponse" />
  </wsdl:message>
  <wsdl:message name="getSistemasModulosRelacionesSoapIn">
    <wsdl:part name="parameters" element="tns:getSistemasModulosRelaciones" />
  </wsdl:message>
  <wsdl:message name="getSistemasModulosRelacionesSoapOut">
    <wsdl:part name="parameters" element="tns:getSistemasModulosRelacionesResponse" />
  </wsdl:message>
  <wsdl:message name="getModuloTareaSoapIn">
    <wsdl:part name="parameters" element="tns:getModuloTarea" />
  </wsdl:message>
  <wsdl:message name="getModuloTareaSoapOut">
    <wsdl:part name="parameters" element="tns:getModuloTareaResponse" />
  </wsdl:message>
  <wsdl:portType name="testSoap">
    <wsdl:operation name="getUsuarioLogeado">
      <wsdl:input message="tns:getUsuarioLogeadoSoapIn" />
      <wsdl:output message="tns:getUsuarioLogeadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSistemasModulosRelaciones">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener informacion de acceso a modulos, sistemas, pantallas, opciones de un usuario.</wsdl:documentation>
      <wsdl:input message="tns:getSistemasModulosRelacionesSoapIn" />
      <wsdl:output message="tns:getSistemasModulosRelacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getModuloTarea">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener datos de Tareas, componente, proyectos, etc, en una busqueda.</wsdl:documentation>
      <wsdl:input message="tns:getModuloTareaSoapIn" />
      <wsdl:output message="tns:getModuloTareaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="testSoap" type="tns:testSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUsuarioLogeado">
      <soap:operation soapAction="http://tempuri.org/getUsuarioLogeado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSistemasModulosRelaciones">
      <soap:operation soapAction="http://tempuri.org/getSistemasModulosRelaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getModuloTarea">
      <soap:operation soapAction="http://tempuri.org/getModuloTarea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="testSoap12" type="tns:testSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUsuarioLogeado">
      <soap12:operation soapAction="http://tempuri.org/getUsuarioLogeado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSistemasModulosRelaciones">
      <soap12:operation soapAction="http://tempuri.org/getSistemasModulosRelaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getModuloTarea">
      <soap12:operation soapAction="http://tempuri.org/getModuloTarea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="test">
    <wsdl:port name="testSoap" binding="tns:testSoap">
      <soap:address location="http://172.16.1.31/SICTWS/test.asmx" />
    </wsdl:port>
    <wsdl:port name="testSoap12" binding="tns:testSoap12">
      <soap12:address location="http://172.16.1.31/SICTWS/test.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>